.app {
  min-height: 100%;
}

.games {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 0.5em;
  
  & .gamecard {
    flex: 0 1 20em;

    & .details {
      display: flex;
      flex-flow: column nowrap;
  
      & .media {
        flex: 0 0 9em;
      }

      & .content {
        display: flex;
        flex-flow: column nowrap;

        & * {
          flex: 1 1 auto;
        }

        & .rating {
          flex: 0 0 auto;
        }
      }
    }
  }

  
}